* {
  margin: 0px;
  padding: 0px;
}

form {
  width: 300px;
  border: 1px solid blue;
  border-radius: 5px;
  margin:30px auto;
  padding: 20px;
  margin-top: 200px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border-color: cyan;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}